<div class="page-header">
   <h2> <%= @wiki.title %> </h2>
</div>
<div class="row">
   <div class="col-md-8">
      <p>
         <%= markdown(@wiki.body) %>
      </p>
   </div>



   <div class="col-md-4">
      <%= link_to "Edit", edit_wiki_path, class: 'btn btn-warning' %>
      <%= link_to "Delete", wiki_path, method: :delete, class: 'btn btn-danger' %>

      <div>
         <p>
            <strong>Last updated:</strong> <%= @wiki.updated_at.to_s(:short) %>
         </p>

         <% if @wiki.private %>
            <p>
               <strong>Private.</strong>
               <br /><%= link_to "Manage Collaborators", new_wiki_collaborator_path(@wiki.id) %>
            </p>
         <% end %>
      </div>

   </div>
</div>
